p {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#logo {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 1rem;
}

#instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  /* padding-left: 2rem;
  padding-right: 2rem; */
  /* text-align: center; */
  /* align-content: center; */
  /* justify-self: center; */
  /* width: minmax(25ch, 50ch); */
}

#instructions-cont {
  /* text-align: center; */
  max-width: 50ch;
  margin: 1em;
  background-color: hsl(50, 100%, 80%);
  padding: 1.2em;
  height: fit-content;
}

#content {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 41rem) {
  #content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 1em; */
  }
}
