<!DOCTYPE html>
<html lang="en">
   <%- include("./partials/head.ejs") %>
   <body>
      <%- include("./partials/title.ejs") %>
      <h2>CREATE</h2>
      <%- include("./partials/nav.ejs") %>

      <div class="addBook">
         <form action="/" method="post">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required />
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" required />
            <label for="datePub">Date Published:</label>
            <input type="text" id="datePub" name="datePub" required />
            <label for="isbn">ISBN:</label>
            <input type="text" id="isbn" name="isbn" required />
            <button>Submit</button>
         </form>
      </div>
   </body>
</html>
