<!DOCTYPE html>
<html lang="en">
   <%- include("./partials/head.ejs") %>

   <body>
      <% //console.log(books); %> <%- include("./partials/title.ejs") %>
      <h2>READ</h2>
      <%- include("./partials/nav.ejs") %>
      <table>
         <% //console.log(books.length); %>

         <tr>
            <td>TITLE</td>
            <td>AUTHOR</td>
            <td>DATE PUB</td>
            <td>ISBN</td>
         </tr>
         <% //if (books.length > 0){ books.forEach(book => {%>
         <td><% %></td>
         <td></td>
         <td></td>
         <td></td>
         <%//}) } %>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
         </tr>
      </table>
   </body>
</html>
