<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/title.ejs") %>
    <h2>UPDATE</h2>
    <%- include("./partials/nav.ejs") %>
    <div class="searchZip">
      <form action="delete" method="get">
        <label for="book-search">Search</label>
        <input type="search" name="deleteEntry" id="deleteEntry" />
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
