body {
  background-color: #000000;
  color: hsl(0, 0%, 100%);
  margin: 0px;
}

.app {
  min-height: 100vh;
}

#chart-area {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 20em);
  grid-template-rows: repeat(4, 5em);
  justify-content: center;
  gap: 2em;
  margin: 2em;
  /* background-color: hsl(0, 0%, 100%); */
}

.chart-unit {
  /* display: grid;
  grid-template-columns: 2.5em 10em 2.5em; */
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 20em;
  min-height: 5em;
  height: 100%;
}

.background-shape {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  /* z-index: 1; */
  /* border: 5px solid hsl(0, 0%, 100%); */
}

.txt-cont {
  position: relative;
  display: flex;
  justify-content: center;
  top: 0.1em;
  left: 2.5em;
  height: 4.8em;
  width: 15em;
  overflow: auto;
}

.txt-cont textarea {
  /* margin: 0.2em; */
  color: hsl(0, 0%, 100%);
  height: 90%;
  width: 20em;
  font-size: 0.9rem;
  background-color: black;
  border-width: 0px;
  resize: none;
}

.txt-cont textarea:focus {
  /* margin: 0.2em; */
  outline: none;
}
/* 
.txt-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.left-side {
  transform: scaleX(-1);
}
