.addBook {
  width: min-content;
}

.addBook form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.addBook label {
  white-space: nowrap;
}

td {
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.deleteBook {
  width: 100%;
}

#deleteEntry {
  width: 300px;
}

.board tr td {
  height: 30px;
  width: 30px;
}

.board2 tr td {
  height: 30px;
  width: 30px;
  border-color: rgb(194, 0, 0);
}
/* body {
   background-color: red;
} */
