<nav>
  <a href="/create">Create</a>
  <a href="/index">Read</a>
  <a href="/update">Update</a>
  <a href="/delete">Delete</a>
  <a href="/weather">Weather</a>
  <a href="/battleship">Battleship</a>
</nav>
